*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comfortaa', cursive;
    background-color: rgb(172, 218, 172);
}

header{
    display: flex;
    flex-direction: row;
    background-color: rgb(160, 220, 244);
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-evenly;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(180, 124, 232);
    height: 50px;
}

.input{
    border-radius: 50px;
    height: 30px;
    width: 300px;
}

span{
    width: 50px;
    height: 50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;    
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(15, 115, 187);
    box-sizing: border-box;
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filtros{
    align-items: center;
    border: 2px;
}

.produtos{
    width: 195px;
    height: 195px;
}
