.pink {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: pink;
}

.yellow {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: yellow;
}
.blue {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: blue;
}
.ff div {
    margin: 10px;
}
.kk {
    display: flex;
}
.kk div {
    margin: 10px;
}