* {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    height: 100vh;
}
.pink {
    width: 100vw;
    height: 100vh;
    background-color: pink;
}
.yellow {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}
.blue {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}