main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purple {
    width: 200px;
    height: 200px;
    background-color: purple;
    border-radius: 100%;
}

.orange {
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 100%;
}

.yellow {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 100%;
}

.ff {
    display: flex;
    width: 100vw;
    margin: 20px
    justify-content: center-center;
}

.ff div {
    margin: 10px;
    justify-content: center;
}

.gg {
    display: flex;
    width: 100vw;
    margin: 50px;
    justify-content: space-between;
}

.yy {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}